<style type="text/css">
.body-container{padding-left:0% !important; padding-right:0 !important}
</style>

    <div class="container-fluid" ng-app="opsblue" style="margin-top:40px;">
        <div ng-controller="MainCtrl">
		<!-- -->
		<div class="container">
		<div class="row text-center">
		   <label for="BrokerChk" class="btn btn-info">Broker <input type="checkbox" id="BrokerChk" ng-model="broker"  class="badgebox"><span class="badge">&check;</span></label>
		   <label for="CustomerChk" class="btn btn-info">Applicant <input type="checkbox" ng-model="Customer" id="CustomerChk" class="badgebox"><span class="badge">&check;</span></label>
		    <label for="Employmentchk" class="btn btn-info">Employment <input ng-model="Employment" type="checkbox" id="Employmentchk" class="badgebox"><span class="badge">&check;</span></label>
		   <label for="Financialchk" class="btn btn-info">Financial <input ng-model="Financial" type="checkbox" id="Financialchk" class="badgebox"><span class="badge">&check;</span></label>
		   <label for="Securitychk" class="btn btn-info">Security  <input ng-model="Security" type="checkbox" id="Securitychk" class="badgebox"><span class="badge">&check;</span></label>
		   <label for="Solictorschk" class="btn btn-info">Solictors  <input  ng-model="Solictors" type="checkbox" id="Solictorschk" class="badgebox"><span class="badge">&check;</span></label>


		</div>
		
		<div class="row text-center" style="margin-top:20px">
		<label for="OFIchk" class="btn btn-info">OFI  <input type="checkbox" ng-model="OFI" id="OFIchk" class="badgebox"><span class="badge">&check;</span></label>
		   <label for="Documentchk" class="btn btn-info">Document  <input type="checkbox" ng-model="Document" id="Documentchk" class="badgebox"><span class="badge">&check;</span></label>
		   <label for="Loanchk" class="btn btn-info">Purpose & Products   <input type="checkbox" ng-model="Loan" id="Loanchk" class="badgebox"><span class="badge">&check;</span></label>
		   <label for="Accountchk" class="btn btn-info">Account  <input type="checkbox" ng-model="Account" id="Accountchk" class="badgebox"><span class="badge">&check;</span></label>
		   <label for="Compliancechk" class="btn btn-info">Compliance  <input type="checkbox" ng-model="Compliance" id="Compliancechk" class="badgebox"><span class="badge">&check;</span></label>
		
		</div>
		
	</div>
			
		<!-- -->
		<h3>Reader View for Application <span class="label label-default">{{data.application.applicationNumber}}</span></h3>
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group is-open="isopen" ng-controller="accordController">

				<div data-sly-include="tabs/broker.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/applicant.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/employment.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/financials.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/security.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/solicitor.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/ofi.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/document.html" data-sly-unwrap></div>
                <div data-sly-include="tabs/loan.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/account.html" data-sly-unwrap></div>
				<div data-sly-include="tabs/compliance.html" data-sly-unwrap></div>


        </div>
        </uib-accordion-group>
        </uib-accordion-group>
        </uib-accordion>
        <!-- Content of bootStrap-->
    </div>
