<div class="col-xs-12 displayNone" id="createNewFormTab">
    <div class="panel panel-yellow">
        <div class="panel-heading" style="padding:35px;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="huge" style="font-size:18px;text-align: center;">
                        <a href="/content/forms/af/ops/mortgage.html?wcmmode=disabled" target="_blank" style="color:white;text-decoration:none;">Create new Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>