# Configuration created by Apache Sling JCR Installer
externalizer.domains=["local\ http://localhost:4502","author\ http://localhost:4502","publish\ http://localhost:4503","get\ http://wasau301mel0050.globaltest.anz.com:9080/OBPHL/rest/application/get","save\ http://wasau301mel0050.globaltest.anz.com:9080/OBPHL/rest/application/save","readerGet\ http://wasau301mel0050.globaltest.anz.com:9080/OBPHL/rest/application/get"]
externalizer.host=""
externalizer.contextpath=""
